html {
    background-color:cornsilk;
}

table, tr, td, th {
    border-collapse: collapse;
    table-layout: fixed;
    border: 1px solid;
    width: 50%;
    
}

th {
    background-color: khaki;
}


tbody:nth-child(even) {
    background-color:lightsalmon;
}

tbody:nth-child(odd) {
    background-color: khaki;
}